@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: 20px;
    border: none;
    box-sizing: border-box;
}

img{
    width: 30%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to left, #865d36, #93785b, #865d36);  
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1800px;
}

.nav-logo{
    max-width: 100px;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #3e362e;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #3e362e;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.bttn3{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #3e362e;
    background-image: linear-gradient(to left, #93785B, #A69080, #93785B);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
    cursor: pointer;
}

.bttn3:hover{
    background-color: #865d36;
    transform: scale(1.3);  
}

.container {
    max-width: 1800px;
    margin: auto;
    padding: 5rem 2rem;
    position: relative;
    border: 10px #865d36;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #865d36;
    z-index: -100;
}

.image img{
    width: 100%; 
    display: flex;
}   

.image{
    overflow: hidden;
}

.image img{
    border-radius: 50%;
    transition: 0.5s ease;
    cursor: pointer;
}

.logo1{
    overflow: hidden;
}

.logo1 img{
    border-radius: 50%;
    transition: 0.5s ease;
    cursor: pointer;
}

.logo1 img:hover{
    transform: scale(1.1);
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h1{
    color: #3e362e;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    margin-left: 97px;
}

header .content p{
    margin-left: 100px;
    text-align: justify;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #3e362e;
}

header .content  h1, p {
    margin-left: 100px;
}

header .card  h1, p {
    margin-left: auto;
    text-align: left;
}

header .bttn{ 
    margin-left: 100px;
}

header .content p{
    margin-bottom: 2rem;
    color: #3e362e;
}

header .image{
    position: relative;
}

header .image::before{
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem; 
    font-weight: 400;
    line-height: 20rem;
    color: #865d36;
    opacity: 0.2;
    z-index: -100;
}

header .image img{
    max-width: 600px;
    margin: auto;
}


footer{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

footer .column .logo{
    max-width: 300px;
    margin-bottom: 2rem;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
}

footer .column .logo:hover{
    transform: scale(1.1);
}

footer .column p{
    color: #3e362e;
    margin-bottom: 2rem;
}

footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: #A69080;
    border: 1px solid #A69080;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover{
    color: #3e362e;
    background-color: #865D36;
    border-color: #865D36;
    transform: scale(1.3);
}

footer .column > a{
    display: #3e362e;
    color: #A69080;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column > a:hover{
    color: #865D36;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #3e362e;
    font-size: 0.8rem;
    text-align: center;
}